/* variables for colours */
:root {
    --first-color: #51653C;
    --second-color: #F1E86F;
    --third-color: #F0E4B0;
    --forth-color: #F0F1B8;
    --fifth-color: #525C37;
}

/* styling for whole page start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* styling for whole page end */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--first-color);
}

header a {
    text-decoration: none;
    color: var(--third-color);

}

/* my name shares the same style */
header h1,
footer span {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin: 10px;
}

header h1 a span {
    color: var(--forth-color);
}

header nav {
    width: 100%;
    text-align: center;
    margin: 7px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

header nav ul li a {
    margin: 12px;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

/* hover effect for navigation bar and can make improvements in future */
header nav ul li a:hover {
    background: var(--third-color);
    color: var(--first-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Decision about colors based on https://color.adobe.com/create/color-wheel */
.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    height: auto;
    background-position: 0 40%;
}

.hero h2 {
    text-align: center;
    color: var(--third-color);
    background-color: rgba(82, 92, 55, 0.5);
    padding: 25px;
    font-size: 45px;
}

.self-intro {
    background-color: var(--forth-color);
    display: flex;
    flex-direction: column;
}

.self-intro h2 {
    color: var(--first-color);
}

.my-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.section-title {
    text-align: center;
    margin: 20px;
    padding: 5px;
    overflow-wrap: break-word;
    font-size: 35px;
    border-bottom: 5px dashed;
    align-self: center;
}

.my-image {
    max-width: 250px;
    min-width: 150px;
}

.my-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 5px dotted var(--fifth-color);
    border-radius: 20px;
}

.my-info p {
    width: 60%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: var(--fifth-color);
    text-align: center;
}

/* use flexboxes to show grid design */
.applications {
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
}

.applications h2 {
    color: var(--third-color);
}

.apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.app-1,
.rest-apps {
    border: 15px ridge var(--third-color);
    position: relative;
    cursor: pointer;
}

/* Question: are there other ways to decide the size of apps */
.app-1 {
    width: 320px;
    height: 320px;
    margin: 20px;
}

.work-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.app-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px)
}

.app-1:hover img,
.rest-apps:hover img {
    filter: none;
}

.work-name {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    display: inline-table;
    color: var(--first-color);
    font-family: cursive;
    font-size: 22px;
    background-color: rgba(240, 228, 176, 0.5);
    padding: 5%;
}

.other-apps {
    height: 400px;
    display: flex;
}

.rest-apps {
    width: 160px;
    height: 160px;
    margin: 10px;
}

.contact {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    color: var(--fifth-color);
}

.contact p {
    font-size: 20px;
}

.email,
.github,
.linkedin {
    font-size: 20px;
    color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
}

footer {
    background-color: var(--first-color);
    text-align: center;
    color: var(--third-color)
}

/* media queries to meet responsive needs and breakpoints based bootstrap suggestion */
@media screen and (min-width: 570px) {
    .logo {
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .contact-info {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    header {
        align-items: center;
    }

    header h1,
    header nav {
        width: auto;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .my-info p {
        font-size: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .my-info p {
        font-size: 30px;
        text-align: start;
    }
}