:root {
    --first-color: #51653C;
    --second-color:#F1E86F;
    --third-color: #F0E4B0;
    --forth-color: #F0F1B8;
    --fifth-color: #525C37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    background-color: var(--first-color);
}

header a {
    text-decoration: none;
    color: var(--third-color);

}

header h1 {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

header h1 a span {
    color:var(--forth-color);
}

header nav {
    width: 100%;
    text-align: center;
    margin: 7px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
}

header nav ul li a {
    margin:5px;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

header nav ul li a:hover {
    background: var(--third-color);
    color: var(--first-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    height: auto;
    background-position: 0 40%;
    display: flex;
    align-items: center;
}

.hero h2 {
    text-align: center;
    color: var(--third-color);
    background-color: rgba(82, 92, 55, 0.5);
    margin: 5%;
    padding: 25px;
    font-size: 45px;
}

.self-intro {
    background-color: var(--forth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-image {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}

.my-image h2 {
    color: var(--first-color);
    text-align: center;
    margin: 5px;
    padding: 5px;   
}

.my-image img {
    max-width: 300px;
    margin: 5px;
    padding: 5px;
    border: 5px dotted var(--fifth-color);
    border-radius: 10px;
}

.self-intro p {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    
}
@media screen and (min-width: 570px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}